.container {
  padding: 0 20px;
  max-width: 570px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.article {
  position: relative;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.img_wrapper {
  height: auto;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.img_wrapper img {
  width: 100%;
  height: auto;
}

.text {
  padding: 15px;
  padding-bottom: 30px;
  font-weight: lighter;
}

.title {
  color: rgb(236, 172, 45);
  font-size: 18px;
}

.date {
  font-style: italic;
  color: #333;
  font-size: 12px;
  margin-top: 0;
}

.excerpt {
  line-height: 16px;
  font-size: 14px;
  margin-top: 10px;
  height: 65px;
  margin-bottom: 0;
  overflow: hidden;
}

.button {
  position: absolute;
  bottom: 0;
  right: 15px;
  transform: translateY(50%);
  border: 1px solid rgb(228, 140, 39);
  border-radius: 4px;
  background-color: rgb(236, 172, 45);
  padding: 8px 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
}

.button a {
  color: #FFF;
}
