.container {
  padding: 0 20px;
}

.meteo {
  width: 100%;
}

.text_infos {
  margin-top: 15px;
  text-align: center;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quote {
  font-size: 18px;
}

.author {
  font-style: italic;
  font-family: serif;
}
